[submodule "salalib"]
	path = salalib
	url = ../salalib
[submodule "genlib"]
	path = genlib
	url = ../genlib
[submodule "depthmapXcli/dxinterface"]
	path = depthmapXcli/dxinterface
	url = git@github.com:spatialnous/dxinterface.git
